<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2019 Peach Payments. All rights reserved. Developed by Francois Raubenheimer
  -->
<config>
    <modules>
        <PeachPayments_Hosted>
            <version>1.0.0</version>
        </PeachPayments_Hosted>
    </modules>
    <global>
        <models>
            <peachpayments_hosted>
                <class>PeachPayments_Hosted_Model</class>
                <resourceModel>peachpayments_hosted_resource</resourceModel>
            </peachpayments_hosted>
            <peachpayments_hosted_resource>
                <class>PeachPayments_Hosted_Model_Resource</class>
                <entities>
                    <web_hooks>
                        <table>peach_payments_hosted_web_hooks</table>
                    </web_hooks>
                </entities>
            </peachpayments_hosted_resource>
        </models>
        <blocks>
            <peachpayments_hosted>
                <class>PeachPayments_Hosted_Block</class>
            </peachpayments_hosted>
        </blocks>
        <helpers>
            <peachpayments_hosted>
                <class>PeachPayments_Hosted_Helper</class>
            </peachpayments_hosted>
        </helpers>
        <resources>
            <peachpayments_hosted_setup>
                <setup>
                    <module>PeachPayments_Hosted</module>
                </setup>
            </peachpayments_hosted_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <peachpayments_hosted>
                <use>standard</use>
                <args>
                    <module>PeachPayments_Hosted</module>
                    <frontName>pp-hosted</frontName>
                </args>
            </peachpayments_hosted>
        </routers>
    </frontend>
    <default>
        <payment>
            <peachpayments_hosted>
                <active>0</active>
                <allowspecific>0</allowspecific>
                <currency>ZAR,KES</currency>
                <max_order_total>9999999</max_order_total>
                <min_order_total>1</min_order_total>
                <payment_action>order</payment_action>
                <sort_order>10</sort_order>
                <methods>CARD</methods>
                <send_order_email>1</send_order_email>
                <send_invoice_email>0</send_invoice_email>
            </peachpayments_hosted>
            <peachpayments_hosted_card>
                <active>1</active>
                <title>Card</title>
                <model>peachpayments_hosted/method_card</model>
            </peachpayments_hosted_card>
            <peachpayments_hosted_eftsecure>
                <active>1</active>
                <title>EFTSecure</title>
                <model>peachpayments_hosted/method_eftsecure</model>
            </peachpayments_hosted_eftsecure>
            <peachpayments_hosted_masterpass>
                <active>1</active>
                <title>MasterPass</title>
                <model>peachpayments_hosted/method_masterpass</model>
            </peachpayments_hosted_masterpass>
            <peachpayments_hosted_mobicred>
                <active>1</active>
                <title>MOBICRED</title>
                <model>peachpayments_hosted/method_mobicred</model>
            </peachpayments_hosted_mobicred>
            <peachpayments_hosted_mpesa>
                <active>1</active>
                <title>M-Pesa</title>
                <model>peachpayments_hosted/method_mpesa</model>
            </peachpayments_hosted_mpesa>
            <peachpayments_hosted_ozow>
                <active>1</active>
                <title>OZOW</title>
                <model>peachpayments_hosted/method_ozow</model>
            </peachpayments_hosted_ozow>
        </payment>
    </default>
</config>
